{% extends "ClashofClans/base.html" %}

{% block title %}Jugador - {{ lliga.idLliga }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Lliga">
<h1>
    <span property="id">{{ lliga.idLliga }}</span>
    {% if user == lliga.user %}
        (<a href="{% url 'ClashofClans:Lliga_edit' lliga.idLliga %}">edit</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID del jugador:         {{lliga.idLliga }}  <br/>
    Nivell del jugador:     {{ lliga.idPremi }} <br/>
    LLiga del jugador:      {{ lliga.numCopes }} <br/>


</p>

</span>
{% endblock %}