{% extends "ClashofClans/base.html" %}

{% block title %}Ciutat - {{ ciutat.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Ciutat">
<h1>
    Ciutat <span property="id">{{ ciutat.id }}</span>
    {% if user == ciutat.user %}
        (<a href="{% url 'ClashofClans:ciutat_edit' ciutat.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:ciutat_delete' ciutat.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Detalls: </h2>

  <div  property="jugador" typeof="Jugador">
        <b> Jugador: </b><br/><br/>
        Nom: <a  property="nom">{{ ciutat.jugador.nom }} </a> <br/>
        Localització: <a  property="localització">{{ ciutat.jugador.localitzacio }} </a> <br/>
        Id: <a  property="id">{{ ciutat.jugador.id }} </a> <br/>
        Nivell: <a  property="nivell">{{ ciutat.jugador.nivell }} </a> <br/>
        Lliga: <a  property="lliga">{{ ciutat.jugador.lliga }} </a> <br/>
        Clan: <a  property="clan">{{ ciutat.jugador.clan }} </a> <br/>
  </div>




</span>
{% endblock %}