{% extends "ClashofClans/base.html" %}

{% block title %}Ciutat - {{ ciutat.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Ciutat">
<h1>
    Ciutat <span property="id">{{ ciutat.id }}</span>
    {% if user == ciutat.user %}
        (<a href="{% url 'ClashofClans:ciutat_edit' ciutat.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:ciutat_delete' ciutat.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Detalls: </h2>

<p>
    Jugador: <span property="jugador">{{ ciutat.jugador }}</span>  <br/>
</p>


</span>
{% endblock %}