{% extends "ClashofClans/base.html" %}

{% block title %}Clan - {{ clan.nom }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Clan">
<h1>
    <span property="id">{{ clan.id }}</span>
    {% if user == clan.user %}
        (<a href="{% url 'ClashofClans:clan_edit' clan.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:clan_delete' clan.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID Clan: {{clan.id }}  <br/>



</p>

</span>
{% endblock %}