{% extends "ClashofClans/base.html" %}

{% block title %}Guerra - {{ guerra.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Guerra">
<h1>
    Guerra<span  property="id"> {{ guerra.id }}</span>
    {% if user == guerra.user %}
        (<a href="{% url 'ClashofClans:guerraClan_edit' guerra.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:guerraClan_delete' guerra.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    Clan 1: <span property="clan1">{{ guerra.clan1 }}</span>  <br/>
    Clan 2: <span property="clan2">{{ guerra.clan2 }}</span>  <br/>
</p>

</span>
{% endblock %}