{% extends "ClashofClans/base.html" %}

{% block title %}Jugador - {{ jugador.nom }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Jugador">
<h1>
    <span property="nom">{{ jugador.nom }}</span>
    {% if user == jugador.user %}
        (<a href="{% url 'ClashofClans:jugador_edit' jugador.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:jugador_delete' jugador.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID del jugador:                 <span property="id">{{jugador.id }}</span>  <br/>
    Localitzacio del jugador:       <span property="localització">{{ jugador.localitzacio }}</span> <br/>
    Nivell del jugador:             <span property="nivell">{{ jugador.nivell }}</span> <br/>

    <div  property="lligue" typeof="Lligue">
        <b> Lliga: </b><br/><br/>
        Id: <a  property="id">{{ jugador.lliga.id }} </a> <br/>
        Premi: <a  property="premi">{{ jugador.lliga.premi }} </a> <br/>
        Numero de Copes: <a  property="numCopes">{{ jugador.lliga.numCopes }} </a> <br/>
    </div>


    <div  property="clan" typeof="Clan">
    <div  property="clan" typeof="Clan">
        <br/><b> Clan: </b><br/><br/>
        Nom: <a  property="nom">{{ jugador.clan.nom }} </a> <br/>
        Id: <a  property="id">{{ jugador.clan.id }} </a> <br/>
        Punts: <a  property="punts">{{ jugador.clan.punts }} </a> <br/>
        Tipus: <a  property="tipus">{{ jugador.clan.tipus }} </a> <br/>
        Trofeus Base: <a  property="trofeusBase">{{ jugador.clan.trofeusBase }} </a> <br/>
        Ubicació: <a  property="ubicacio">{{ jugador.clan.ubicacio }} </a> <br/>
  </div>


</p>

</span>
{% endblock %}