{% extends "ClashofClans/base.html" %}

{% block title %}Jugador - {{ jugador.nom }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Jugador">
<h1>
    <span property="id">{{ jugador.nom }}</span>
    {% if user == jugador.user %}
        (<a href="{% url 'ClashofClans:jugador_edit' jugador.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:jugador_delete' jugador.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID del jugador:                 {{jugador.id }}  <br/>
    Localitzacio del jugador:       {{ jugador.localitzacio }} <br/>
    Nivell del jugador:             {{ jugador.nivell }} <br/>
    LLiga del jugador:              {{ jugador.lliga }} <br/>
    Clan del Jugador:               {{ jugador.clan }} <br/>


</p>

</span>
{% endblock %}