{% extends "ClashofClans/base.html" %}

{% block title %}Lliga - {{ lliga.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Lliga">
<h1>
    <span property="id">Lliga {{ lliga.id }}</span>
    {% if user == lliga.user %}
        (<a href="{% url 'ClashofClans:Lliga_edit' lliga.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID de la lliga: {{lliga.id }}  <br/>
    Premi: {{ lliga.premi }} <br/>
    Copes: {{ lliga.numCopes }} <br/>


</p>

</span>
{% endblock %}