{% extends "ClashofClans/base.html" %}

{% block title %}Lliga - {{ lligue.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Lliga">
<h1>
    Lliga <span property="id"> {{ lligue.id }}</span>
    {% if user == lligue.user %}
        (<a href="{% url 'ClashofClans:lliga_edit' lligue.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:lliga_delete' lligue.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID de la lliga:     {{lligue.id }}  <br/>
    Premi:              <span property="premi">{{ lligue.premi }}</span> <br/>
    Copes:              <span property="numCopes">{{ lligue.numCopes }}</span> <br/>


</p>

</span>
{% endblock %}