{% extends "ClashofClans/base.html" %}

{% block title %}Lliga - {{ lligue.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Lliga">
<h1>
    <span property="id">Lliga {{ lligue.id }}</span>
    {% if user == lligue.user %}
        (<a href="{% url 'ClashofClans:lliga_edit' lligue.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    ID de la lliga: {{lligue.id }}  <br/>
    Premi: {{ lligue.premi }} <br/>
    Copes: {{ lligue.numCopes }} <br/>


</p>

</span>
{% endblock %}