{% extends "ClashofClans/base.html" %}

{% block content %}

<h1>
    ClashofClans: Ciutat
    {% if user %}
        (<a href="{% url 'ClashofClans:ciutat_create' %}">add ciutat</a>)
    {% endif %}
</h1>

<h1>
    ClashofClans: Jugador
    {% if user %}
        (<a href="{% url 'ClashofClans:jugador_create' %}">add jugador</a>)
    {% endif %}
</h1>


<ul>
    {% for jugador in latest_ciutat_list %}
        <li><a href="{% url 'ClashofClans:jugador_detail' jugador.id %}">{{ jugador.nom }}</a></li>
    {% empty %}
        <li>Sorry, no cities registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}
