{% extends "ClashofClans/base.html" %}

{% block title %}Premi Lliga - {{ premilligue.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="PremiLligue">
<h1>
    <span  property="id">Premi Lliga {{ premilligue.id }}</span>
    {% if user == premilligue.user %}
        (<a href="{% url 'ClashofClans:premiLliga_edit' premilligue.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    Or: {{ premilligue.oro }} <br/>
    Elixir: {{ premilligue.elixir }} <br/>
    Elixir Negre: {{ premilligue.elixirNegre }} <br/>
</p>

</span>
{% endblock %}