{% extends "ClashofClans/base.html" %}

{% block title %}Premi Lliga - {{ premilligue.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="PremiLligue">
<h1>
    Premi Lliga <span  property="nom"> {{ premilligue.nom }}</span>
    {% if user == premilligue.user %}
        (<a href="{% url 'ClashofClans:premiLliga_edit' premilligue.id %}">edit</a>)
        (<a href="{% url 'ClashofClans:premiLliga_delete' premilligue.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    Id Premi:       <span  property="id"> {{ premilligue.id }}</span> </br>
    Or:             <span  property="oro">{{ premilligue.oro }}</span> <br/>
    Elixir:         <span  property="elixir">{{ premilligue.elixir }}</span> <br/>
    Elixir Negre:   <span  property="elixirNegre">{{ premilligue.elixirNegre }}</span> <br/>
</p>

</span>
{% endblock %}