{% extends "ClashofClans/base.html" %}

{% block title %}Premi - {{ premiLliga.id }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Jugador">
<h1>
    <span property="id">{{ premiLliga.id }}</span>
    {% if user == premiLliga.user %}
        (<a href="{% url 'ClashofClans:Premi_edit' premiLliga.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Detalls: </h2>

<p>
    Or:     {{ premiLliga.oro }} <br/>
    Elixir:      {{ premiLliga.elixir }} <br/>
    Elixir Negre:       {{ premiLliga.elixirNegre }} <br/>


</p>

</span>
{% endblock %}